body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

.container{
    max-width: 50rem;
    margin: 0 auto;
}

.logo-top{
    background-color: black;
}

.search{
    padding: 0.5rem 10rem 0.5rem 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: black;
    /* border-bottom: thin solid darkgrey; */
}
    
.main-menu{
    background-color: black;
    text-align: left;
}

.menu-item{
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: thin solid darkgrey;
    margin-inline-start: 3rem;
    margin-inline-end: 3rem;
}

.end-item{
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: thin solid darkgrey;
    padding-left: 3rem;
}

a:link{
    text-decoration: none;
    color: white;
  }

.heading{
    padding-top: 2rem;
    background-color: black;
}

.heading3{
    color: grey;
}

.block-element{
    background-image: url("../img/iphone11pro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 5rem 40rem;
}

.block-element2{
    background-image: url("../img/iphone11.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 5rem 40rem;
    color: black;
}

.text{
    padding-bottom: 0.5rem;
}

.links{
    color: lightblue;
    padding-top: 2rem;
    display: inline-block;
}

.links2{
    padding-top: 2rem;
}

.learnmore{
    padding-right: 2rem;
}